{{ define "title" }}Home{{ end }}

{{ define "main" }}
    <h2>About</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Error nam iste similique repellat. Accusamus esse aut error officiis at!
        Repellendus neque suscipit ipsum rem praesentium id totam magni beatae assumenda.

        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Placeat veritatis dignissimos ut aut esse veniam vero natus rem fugit
        itaque unde quae, quas, ducimus praesentium, aspernatur porro quis sit saepe!
    </p>
{{ end }}